* {
    margin: 0;
    padding: 0;
}

.film_card {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.5fr 1.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    row-gap: 20px;

    width: 95%;
    margin: 50px auto;

    background-color: #181D31;
    padding: 25px;
    border: 1px solid #ffffff;
    border-radius: 10px;
}
    
.first_part { 
    grid-area: 1 / 1 / 2 / 3;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #ffffff;
    
}

.first_half {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.first_end {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.img_container { 
    grid-area: 2 / 1 / 3 / 2; 

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.img_container img {
    width: 300px;
    border: 1px solid #ffffff;
    border-radius: 1px;
    
    opacity: 0.9;
    
    transition: all 0.5s;
}

.img_container img:hover {
    transform: scale(1.05);
}

.more_details { 
    grid-area: 2 / 2 / 3 / 3; 
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    transition: all 0.5s;
    padding: 10px;
}

.movie_title {
    font-size: 48px;
    color: #ffffff;
    letter-spacing: 1.5px;
    text-align: center;
}

.first_half div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-size: 18px;
    letter-spacing: 1.5px;
    color: #ffffff;
}

.meta_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #ffffff;
}

.movie_imdb span {
    font-weight: 300;
}

.movie_overview,
.movie_genre,
.movie_director,
.movie_stars {
    color: #ffffff;
    font-style: normal;
    font-size: 24px;
    text-align: left;
    letter-spacing: 1px;
}

.movie_overview span,
.movie_genre span,
.movie_director span,
.movie_stars span {
    font-weight: 200;
    font-style: italic;
}

@media (max-width: 1100px) {
    .more_details { 
        align-items: center;
        padding: 15px;
    }
}

@media (max-width: 950px) {
    .film_card {
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 1.5fr 1fr;
            padding: 15px;
    }
    .first_part {
        grid-area: 1 / 1 / 2 / 2; 
    }

    .img_container{
        grid-area: 2 / 1 / 3 / 2;
    }

    .more_details {
        grid-area: 3 / 1 / 4 / 2; 
    }

    .img_container {
        align-items: center;
        justify-content: center;
    }

    .first_part {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .first_half{
        justify-content: center;
        align-items: center;
    }

    .movie_overview,
    .movie_genre,
    .movie_director,
    .movie_stars {
        text-align: center;
    }
}


@media (max-width: 600px) {
    .more_details {
        gap: 20px;
    }

    .film_card{
        padding: 10px;
    }
}