div.card {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 3ch;
  width: 600px;
  border-radius: 20px;
  margin: 2em;
  background: #111827;
  color: aliceblue;
  box-shadow: #181d31 0px 20px 30px -10px;
}

.cardImage {
  border-radius: 50%;
  width: 150px;
  border-style: solid;
  border-color: #181d31;
  margin: 0 auto 15px auto;
  transition: transform 0.4s;
  -webkit-box-shadow: 12px -12px 20px -12px rgba(18, 103, 172, 0.35);
  box-shadow: 12px -12px 20px -12px rgba(20, 129, 213, 0.35);
}
.cardImage:hover {
  transform: scale(1.1);
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e6ddc4;
  color: #181d31;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: box-shadow 0.1s, transform 0.1s;
}

.bio {
  color: #f0e9d2;
  font-size: 18px;
  margin: 5px;
}
.p {
  color: #f0e9d2;
  background: #678983;
  margin: 18px 16px;
  padding: 5px;
  text-align: center;
  transition: all 0.2s;
  border-radius: 5px;
  line-height: 24px;
}

/* button */

.y {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.gitHub {
  padding: 5px 8px;
  background: #737e8b;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 5px;
  color: rgb(0, 0, 0);
  font-family: monospace;
  border-radius: 7px;
  margin-top: 5px;
  height: 40px;
  border: none;
  transition: box-shadow 0.1s, transform 0.1s;
}

.youTube {
  padding: 5px 8px;
  background: rgb(252, 8, 8);
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 5px;
  color: rgb(0, 0, 0);
  font-family: monospace;
  border-radius: 7px;
  margin-top: 5px;
  height: 40px;
  border: none;
  transition: box-shadow 0.1s, transform 0.1s;
}
.youTube:hover {
  box-shadow: rgba(154, 156, 160, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #5e5f68 0 -3px 0 inset;
  background: #ffffff;
  transform: translateY(-2px);
}
.gitHub:hover {
  box-shadow: rgba(154, 156, 160, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #5e5f68 0 -3px 0 inset;
  background: #ffffff;
  transform: translateY(-2px);
}

@media screen and (max-width: 665px) {
  div.card {
    width: 400px;
  }
}

@media screen and (max-width: 465px) {
  div.card {
    width: 350px;
  }
}

@media screen and (max-width: 415px) {
  div.card {
    width: 275px;
  }
}
