body {
    margin: 0;
    padding: 0;
    
}

.MoviesPage {
    width: 99%;
    margin: 0 auto;
}

.movie_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;  

    transition: all 0.4s;
}

.header {
    margin: 10px;
}

.header, .MoviesPage p {
    text-align: center;
    color: #111827;
    letter-spacing: 2px;
    font-style: italic;
}


@media screen and (max-width: 1500px) {
    .movie_list {
        grid-template-columns: repeat(1, 1fr);
    }
}