.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #251749;
    letter-spacing: 1px;
}

.title {
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #263159;
}