.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.btn {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none #251749 solid;
  transition: all 0.4s;
  
}

.btn:hover {
    background-color: #374151;
}
  
.btn:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 695px) {
    .btn {
      padding: .75rem 1.5rem;
    }
}

@media (max-width: 595px) {
  .btn {
    padding: .25rem 0.75rem;
  }
}

@media (max-width: 395px) {
  .btn {
    padding: .10rem 0.5rem;
  }
}
