.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

button {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none #251749 solid;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  touch-action: manipulation;
  width: auto;
}

button:hover {
    background-color: #374151;
}
  
button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}
  
@media (min-width: 768px) {
    button {
      padding: .75rem 1.5rem;
    }
}